html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #1f2639; 
}

#wrapper {
  display: flex;
  height: 100%;
}

#left-column {
  flex: 1;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

#right-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically */
  flex-direction: column;
}

#canvas-container {
  width: 65%;
  height: 65%;
}

#viewport {
  border: 1px solid white;
}

#text-wrapper {
  text-align: center;
  font-size: 12px;
  color: #FFF;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

#text-wrapper h1 {
  font-size: 24px;
}

#horizontal-line {
  width: 80%;
  border-top: 2px solid white;
  align-self: center;

}

.middle-line {
  margin-top: 20px;
  border-top: 1px solid white;
}



.slider-container {
  margin-top: 20px;
}

.slider-container label {
  display: block;
  margin-bottom: 5px;
}

.slider {
  width: 100%;
}

#slider-value {
  display: inline-block;
  margin-left: 5px;
}


.information span {
  font-weight: bold; 
}
